extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    label(for="inputId") ID permiso:
    input(
      type="text"
      id="id"
      name="id"
      class="form-control" 
      placeholder="Ingrese ID"
      value=data.id
    ) 

    input(
      type="submit"
      value="Envíar"
      class="btn btn-lg btn-primary btn-block"
    )
